.hover{
  opacity: 0.2;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.hover:active, .hover:hover, .hover:focus{
  opacity: 1 ;
}

/* .hover:active{
  opacity: 1 ;
} */


input[type="text"]{
  border: none;
  text-align: center;
  font-size: 150%
}