/* *, *:before, *:after {
  box-sizing: border-box;
} */

/* body {
  font-family: 'Roboto';
  padding: 60px 20px;
} */
/* @media (min-width: 600px) {
  body {
    padding: 10px;
  }
} */

/* Este setting separa y junta los ranges */
/* .range-slider {
  margin: 10px 0 0 0%;          
} */

/* .cssRange-slider { */
/* .range-slider {
  width: 10%;
} */

#contenedor input[type="range"] {
/* .range-slider__range { */
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;                /* No parece que afecte a nada cambiar este color
  /* background: #000000; */
  outline: none;
  padding: 0;
  margin: 0;
}
#contenedor input[type="range"]::-webkit-slider-thumb {              /*webkit -> configuración para chrome*/
/* .range-slider__range::-webkit-slider-thumb {              webkit -> configuración para chrome */
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
#contenedor input[type="range"]::-webkit-slider-thumb:hover {
/* .range-slider__range::-webkit-slider-thumb:hover { */
  background: #1abc9c;
}
#contenedor input[type="range"]:active::-webkit-slider-thumb {
/* .range-slider__range:active::-webkit-slider-thumb { */
  background: #1abc9c;
}
#contenedor input[type="range"]::-moz-range-thumb {                  /*moz -> configuración para mozzilla firefox*/
/* .range-slider__range::-moz-range-thumb {                  moz -> configuración para mozzilla firefox */
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
#contenedor input[type="range"]::-moz-range-thumb:hover {
/* .range-slider__range::-moz-range-thumb:hover { */
  background: #1abc9c;
}
#contenedor input[type="range"]:active::-moz-range-thumb {
/* .range-slider__range:active::-moz-range-thumb { */
  background: #1abc9c;
}
#contenedor input[type="range"]:focus::-webkit-slider-thumb {
/* .range-slider__range:focus::-webkit-slider-thumb { */
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

/*
#contenedor span {
/* .range-slider__value { */
  /* display: inline-block; */   /* Parece que no es necesario a causa del float */
  /*
  position: relative;
  float:left;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-right: 8px;
  margin-top: -3px;
}
*/
/* #contenedor span:after { */
/* .range-slider__value:after { */
  /* position: absolute;
  top: 8px;
  right: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
} */

/* ::-moz-range-track {
  background: #d7dcdf;
  border: 0;
} */

/* input[type="range"]::-moz-focus-inner,
input[type="range"]::-moz-focus-outer {
  border: 0;
} */
