{% extends "layout.html" %}

<!--  -->

{% block head %}
<!-- Estilos -->
<link rel="stylesheet" href="{{url_for('static', filename='css//styleCSSRangeSlider.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css//rotate.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css//hover.css')}}">

<script>
     var questions = {{ questions_js|safe }};
</script>

{% endblock %}

<!--  -->

{% block heading %}
10 minutes of thinking, a lifetime of consequences
{% endblock %}

<!--  -->

{% block body %}

<p>Weights
    <p>{{ weights_html }}</p>
</p>



<form  name = "ValoresCriterios" action = "{{  url_for('result')  }}" method = "POST">
        <div id = "contenedor"></div>

        <br>
        <button id="AddOption" type="button" class="btn btn-info btn-circle btn-xl"><i class="fas fa-plus fa-lg" aria-hidden="true"></i></button>
        <br>
        <br>       
        <input class="btn btn-light" type = "submit" value="Enviar">
</form>
        

    <br>

    <br>

    <!-- JS -->
    <script src="{{url_for('static', filename='js//RangeSliders.js')}}" defer></script>  
    <script src="{{url_for('static', filename='js//JSdecisions.js')}}" defer></script>
    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/62783fdd2e.js" crossorigin="anonymous"></script>

{% endblock %}