<!DOCTYPE html>
<html lang="en">

<head>
    <title>Λppdvice</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Penrose-dreieck.svg/1200px-Penrose-dreieck.svg.png"
    type="image" sizes="16x16">


    <!-- PWA - set a theme color for the address bar -->
    <meta name="theme-color" content="#3AAFB9"/>
    <!-- PWA - Icono apple -->
    <link rel="apple-touch-icon" href="static/images/144px-Penrose-dreieck.svg.png">

    <!-- CSS bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- bootstrap -> Para que se vea bien en móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    {% block head %}
    {% endblock %}

</head>

<body style="text-align:center;">
    <h1>{% block heading %}{% endblock %}</h1>

    {% block body %}
    {% endblock %}
    <br>
    <a href="{{ url_for('decisions') }}">Start deciding</a>
    <br>
    <a href="{{ url_for('weights') }}">Weights</a>
    <br>
    <a href="{{ url_for('why') }}">Why</a>
    <br>
    <br>
    <a href="{{ url_for('index') }}">Home</a>

    <!-- JS bootstrap -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Puse el Jquery completo ya que lo necesita ionRangeSlider -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        
    <!-- Register service worker with the browser -->
    <script>        
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('/service-worker.js')
                .then(function (registration) {
                    console.log('Service Worker Registered!');
                    return registration;
                })
                .catch(function (err) {
                    console.error('Unable to register service worker.', err);
                });
        }
    </script>
</body>

</html>