{% extends "layout.html" %}

{% block heading %}
Results
{% endblock %}

{% block head %}
<!-- Librería para las gráficas -->
<script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
{% endblock %}

{% block body %}

<canvas id="myChart" width="400" height="200"></canvas>
        <script>
            var ctx = document.getElementById('myChart').getContext('2d'); //ctx creo que viene de "context"
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [
                        {% for label in graphLabels_html %}
                        "{{ label }}",
                        {% endfor %}
                    ],  
                    datasets: [{
                        label: 'Score',
                        data: [
                            {% for value in graphData_html %}
                            "{{ value }}",
                            {% endfor %}
                        ],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>

<p class="h5" >Output 1: Respuestas del usuario<br>
    <p>{{ Output1_html }}</p>
</p>

<p class="h5" >Output 2: lista de diccionarios de valores<br>
    <p>{{ Output2_html }}</p>
</p>

<p class="h5" >Output 3: pesos <br>
    <p>{{ Output3_html }}</p>
</p>
<p class="h5" >Output 4: resultados <br>
    <p>{{ Output4_html }}</p>
</p>
<p class="h5" >Output 5: Porcentajes <br>
    <p>{{ Output5_html }}</p>
</p>





{% endblock %}