{% extends "layout.html" %}

{% block heading %}
    Weights 
{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{url_for('static', filename='css//styleCSSRangeSlider.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css//rotate.css')}}">

<div id = "contenedor">

    

    <!-- <p>criteria: {{ criteria_html }}</p> -->
        <div>
            <!-- <form name = "Pesos" action = "{{  url_for('decisions')  }}" method = "POST"> -->
            <form name = "Pesos"  method = "POST">

                {% for criterion in criteria_html %}
                    <h3>{{ criterion }}</h3>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <div class="range-slider"><input name = {{ criterion }} class="range-slider__range" type="range" value="50" min="0" max="100"><span class="range-slider__value">0</span></div>
                        </div> 
                    </div>
                {% endfor %}

                <br>
                <input class="btn btn-light" type = "submit" value="Enviar">
            </form>
            
        </div>
</div>
        <!-- JS -->
        <script src="{{url_for('static', filename='js//WeightsRangeSliders.js')}}" defer></script>
        <!--  -->

{% endblock %}