<!DOCTYPE html>
<html>
<title>Λppdvice</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
  <!-- Favicon -->
  <link rel="icon"
    href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Penrose-dreieck.svg/1200px-Penrose-dreieck.svg.png"
    type="image" sizes="16x16">
  <!-- Manifest -->
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

  <!-- PWA - set a theme color for the address bar -->
  <meta name="theme-color" content="#3AAFB9"/>
  <!-- PWA - Icono apple -->
  <link rel="apple-touch-icon" href="static/images/144px-Penrose-dreieck.svg.png">

</head>

<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif
  }

  body,
  html {
    height: 100%;
    line-height: 1.8;
  }

  /* Full height image header */
  .bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1533073526757-2c8ca1df9f1c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    min-height: 70%;
    /* max-height: 100%; */
  }

  .w3-bar .w3-button {
    padding: 16px;
  }

  /* Elimina el subrayado de los links */
  a:hover,
  a:visited,
  a:link,
  a:active {
    /* color: #FFFFFF; */
    text-decoration: none;
  }
</style>

<body>


  <!-- Header with full-height image -->
  <header class="bgimg-1 w3-display-container" id="promise">
    <div class="w3-display-center w3-text-white" style="padding:3%">
      <span class="w3-jumbo">
        <a href="{{ url_for('index') }}">
          Λppdvice
        </a>
        <!-- <a href="{{ url_for('index') }}">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Penrose-dreieck.svg/1200px-Penrose-dreieck.svg.png" class="w3-round w3-margin-bottom" alt="Random Name" style="width:10%">
      </a> -->
      </span><br>

      <!-- <span class="w3-jumbo w3-hide-small">Decide right, have no regrets</span><br> -->
      <!-- <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br> -->
      <span class="w3-xlarge w3-col s10 m7 ">
        You only live once.<br>
        Λppdvice will make sure you live your life to the fullest by helping you choose right.
        According to what is important to you, no one else.</span>
      <!-- <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a></p> -->
    </div>
    <!-- <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div> -->
  </header>

  <!-- Picture Section -->
  <div class="w3-container w3-center w3-light-grey" style="padding:28px 22%" id="picture">
    <!-- <h3 class="w3-center">ABOUT THE COMPANY</h3> -->
    <p class="w3-xlarge w3-row-padding">
      What if you had taken that job...<br>
      What if you had pursued that promising side project...<br>
      What if you had chosen another city...
      <!-- Have you ever wondered what might have happened if you chose to take that job you rejected? really pursue that promising side project or chosen to live in another city?<br> -->
    </p>
    <div style="padding: 2%"></div> <!-- Separador vertical -->
    <p class="w3-xlarge w3-row-padding">
      Might your life have turned out better?<br>
      What if there was a way to always choose the best?<br>
      To be sure you make your life the best it can possibly be.
    </p>
    <div style="padding: 2%"></div> <!-- Separador vertical -->
    <p class="w3-xlarge w3-row-padding">
      What if...
    </p>
    <!-- <p class="w3-half w3-large"></p> -->
    <!-- <p class="w3-half w3-large"></p> -->
    <!-- <p class="w3-half w3-large">Have you ever wondered what might have happened if you chose to take that job you rejected? really pursue that promising side project or chosen to live in another city?</p> -->
    <!-- <p class="w3-half w3-large">Have you ever wondered what might have happened if you chose to take that job you rejected? really pursue that promising side project or chosen to live in another city?</p> -->
    <!-- <div class="w3-half">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Cómic aquí</p>
    </div> -->
  </div>
  </div>

  <!-- Proof section -->
  <!-- <div class="w3-container w3-light-grey " style="padding:5% 5%"> -->
  <!-- <div class="w3-container w3-deep-purple w3-text-white" style="padding:5% 5%"> -->
  <div class="w3-container w3-black w3-text-white" style="padding:5% 15%" id="comic">
    <!-- <div class="w3-container w3-teal w3-text-white" style="padding:5% 5%"> -->
    <!-- <div class="w3-container w3-indigo w3-text-white" style="padding:5% 5%"> -->
    <div class="w3-large w3-half" style="padding:0% 5%">
      <p>Nuria is a driven person with a passion for new technologies. Thanks to her amazing productivity system and a
        dozen gadgets she is a multitasking pro</p>
      <p>
        She works as a consultant for a Big Four company, <br>
        writes a blog about tech, <br>
        looks for an editor for her first novel,<br>
        is learning Chineese,<br>
        competes regionally playing bascketball,<br>
        she is also married and has a two year-old,<br>
    </div>

    <div class="w3-row-padding w3-half w3-center">
      <img src="../static/images/Viñeta 1.png" class="w3-round w3-margin-bottom" alt="Random Name" style="width:100%">
    </div>

    <div style="padding: 20%"></div> <!-- Separador vertical -->

    <div class="w3-row-padding w3-half w3-center">
      <img src="../static/images/Viñeta 2.png" class="w3-round w3-margin-bottom" alt="Random Name" style="width:100%">
    </div>

    <div class="w3-large w3-half" style="padding:0% 5%">
      <p>
        Nuria is all cought up in routine until a day comes when she realizes she has half a dozen expensive gadgets she
        doesn't use and has barely made any progress on any of her projects which take time away from her family
      </p>
    </div>

    <div style="padding: 20%"></div> <!-- Separador vertical -->

    <div class="w3-large w3-half" style="padding:0% 5%">
      <p>
        Startled, Nuria searches the web and discovers Λppdvice, a webapp that guides her in deciding what is really
        worth her time through calibrated questions and research based analysis
      </p>
    </div>

    <div class="w3-row-padding w3-half w3-center">
      <img src="../static/images/Viñeta 3.png" class="w3-round w3-margin-bottom" alt="Random Name" style="width:100%">
    </div>

    <div style="padding: 20%"></div> <!-- Separador vertical -->

    <div class="w3-row-padding w3-half w3-center">
      <img src="../static/images/Viñeta 4.png" class="w3-round w3-margin-bottom" alt="Random Name" style="width:100%">
    </div>

    <div class="w3-large w3-half" style="padding:0% 5%">
      <p>
        Discarding the nonessential, she starts spending quality time with her family, is laser focused at work and soon
        her performance gets noticed earning her new opportunities and challenges
      </p>
    </div>

    <div style="padding: 20%"></div> <!-- Separador vertical -->

    <div class="w3-row-padding w3-center w3-large" style="padding: 0px 15%">
      <p>
        Fully aware that every new challenge requires sacrifices, she uses Λppdvice to make the right decisions and
        become who she wants to be
      </p>
    </div>
    <div class="w3-row-padding w3-center">
      <img src="../static/images/Viñeta 5.png" class="w3-round w3-margin-bottom" alt="Random Name" style="width:70%">
    </div>

  </div>

  <!-- <div class="w3-container w3-center w3-light-grey" style="padding:28px 22%" ></div> -->

  <!-- Pitch Section -->
  <div class="w3-container w3-black" style="padding:10% " id="pitch">
    <h3 class="w3-center w3-xlarge">Time is limited</h3>
    <!-- <h3 class="w3-center w3-xlarge">Cut the unnecessary</h3> -->
    <h3 class="w3-center w3-xlarge">Choose right</h3>
    <h3 class="w3-center w3-medium" style="padding:3%">
      <a href="{{ url_for('decisions') }}">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Penrose-dreieck.svg/1200px-Penrose-dreieck.svg.png"
          class="w3-round w3-margin-bottom" alt="Random Name" style="width:10%">
        <!-- <h3 class="w3-center w3-xlarge">Λppdvice</h3> -->
      </a>
    </h3>
    <!-- <p class="w3-center w3-large">The ones who runs this company</p> -->
  </div>

  <div class="w3-container w3-black" style="padding:5% 5%">
    <div class="w3-center">

      <div class="w3-panel w3-half">
        <p class="w3-medium w3-serif">
          <i>"The successful warrior is the average man, with laser-like focus"</i>
        </p>
        <p class="w3-right">Bruce Lee</p>
      </div>
      <div class="w3-panel w3-half ">
        <p class="w3-medium w3-serif">
          <i>"Learn to observe your emotions and use them to think, not think with your emotions"</i>
        </p>
      </div>

      <div class="w3-panel w3-half ">
        <p class="w3-medium w3-serif">
          <i>"You are not your body and hair-style, but your capacity for choosing well. If your choices are beautiful,
            so too will you be"</i>
        </p>
        <p class="w3-right">Epictetus, I AD</p>
      </div>

      <p>Referencias</p>
      <span class="reference-text">
        <style data-mw-deduplicate="TemplateStyles:r999302996">
          .mw-parser-output cite.citation {
            font-style: inherit
          }

          .mw-parser-output .citation q {
            quotes: "\"""\"""'""'"
          }

          .mw-parser-output .id-lock-free a,
          .mw-parser-output .citation .cs1-lock-free a {
            background: linear-gradient(transparent, transparent), url("//upload.wikimedia.org/wikipedia/commons/6/65/Lock-green.svg")right 0.1em center/9px no-repeat
          }

          .mw-parser-output .id-lock-limited a,
          .mw-parser-output .id-lock-registration a,
          .mw-parser-output .citation .cs1-lock-limited a,
          .mw-parser-output .citation .cs1-lock-registration a {
            background: linear-gradient(transparent, transparent), url("//upload.wikimedia.org/wikipedia/commons/d/d6/Lock-gray-alt-2.svg")right 0.1em center/9px no-repeat
          }

          .mw-parser-output .id-lock-subscription a,
          .mw-parser-output .citation .cs1-lock-subscription a {
            background: linear-gradient(transparent, transparent), url("//upload.wikimedia.org/wikipedia/commons/a/aa/Lock-red-alt-2.svg")right 0.1em center/9px no-repeat
          }

          .mw-parser-output .cs1-subscription,
          .mw-parser-output .cs1-registration {
            color: #555
          }

          .mw-parser-output .cs1-subscription span,
          .mw-parser-output .cs1-registration span {
            border-bottom: 1px dotted;
            cursor: help
          }

          .mw-parser-output .cs1-ws-icon a {
            background: linear-gradient(transparent, transparent), url("//upload.wikimedia.org/wikipedia/commons/4/4c/Wikisource-logo.svg")right 0.1em center/12px no-repeat
          }

          .mw-parser-output code.cs1-code {
            color: inherit;
            background: inherit;
            border: none;
            padding: inherit
          }

          .mw-parser-output .cs1-hidden-error {
            display: none;
            font-size: 100%
          }

          .mw-parser-output .cs1-visible-error {
            font-size: 100%
          }

          .mw-parser-output .cs1-maint {
            display: none;
            color: #33aa33;
            margin-left: 0.3em
          }

          .mw-parser-output .cs1-format {
            font-size: 95%
          }

          .mw-parser-output .cs1-kern-left,
          .mw-parser-output .cs1-kern-wl-left {
            padding-left: 0.2em
          }

          .mw-parser-output .cs1-kern-right,
          .mw-parser-output .cs1-kern-wl-right {
            padding-right: 0.2em
          }

          .mw-parser-output .citation .mw-selflink {
            font-weight: inherit
          }
        </style><cite id="CITEREFKahnemanTversky1979" class="citation journal cs1">Kahneman, Daniel; Tversky, Amos
          (1979). "Prospect Theory: An Analysis of Decision under Risk". <i>Econometrica</i>. <b>47</b> (2): 263–291. <a
            href="/wiki/Doi_(identifier)" class="mw-redirect" title="Doi (identifier)">doi</a>:<a rel="nofollow"
            class="external text" href="https://doi.org/10.2307%2F1914185">10.2307/1914185</a>. <a
            href="/wiki/ISSN_(identifier)" class="mw-redirect" title="ISSN (identifier)">ISSN</a>&nbsp;<a rel="nofollow"
            class="external text" href="//www.worldcat.org/issn/0012-9682">0012-9682</a>. <a
            href="/wiki/JSTOR_(identifier)" class="mw-redirect" title="JSTOR (identifier)">JSTOR</a>&nbsp;<a
            rel="nofollow" class="external text" href="//www.jstor.org/stable/1914185">1914185</a>.</cite><span
          title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.jtitle=Econometrica&amp;rft.atitle=Prospect+Theory%3A+An+Analysis+of+Decision+under+Risk&amp;rft.volume=47&amp;rft.issue=2&amp;rft.pages=263-291&amp;rft.date=1979&amp;rft.issn=0012-9682&amp;rft_id=%2F%2Fwww.jstor.org%2Fstable%2F1914185%23id-name%3DJSTOR&amp;rft_id=info%3Adoi%2F10.2307%2F1914185&amp;rft.aulast=Kahneman&amp;rft.aufirst=Daniel&amp;rft.au=Tversky%2C+Amos&amp;rfr_id=info%3Asid%2Fen.wikipedia.org%3AProspect+theory"
          class="Z3988"></span>
      </span>
    </div>
  </div>



  <script>
    // // Modal Image Gallery
    // function onClick(element) {
    //   document.getElementById("img01").src = element.src;
    //   document.getElementById("modal01").style.display = "block";
    //   var captionText = document.getElementById("caption");
    //   captionText.innerHTML = element.alt;
    // }


    // // Toggle between showing and hiding the sidebar when clicking the menu icon
    // var mySidebar = document.getElementById("mySidebar");

    // function w3_open() {
    //   if (mySidebar.style.display === 'block') {
    //     mySidebar.style.display = 'none';
    //   } else {
    //     mySidebar.style.display = 'block';
    //   }
    // }

    // // Close the sidebar with the close button
    // function w3_close() {
    //     mySidebar.style.display = "none";
    // }
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker
        .register('/service-worker.js')
        .then(function (registration) {
          console.log('Service Worker Registered!');
          return registration;
        })
        .catch(function (err) {
          console.error('Unable to register service worker.', err);
        });
    }
  </script>

</body>

</html>